/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    max-width: 100%;
    margin: 0 auto;
}


/* Row */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row > * {
    max-width: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}


/* Column */

[class^='col'] {
    flex: 0 0 auto;
}


/* Griglia 12 colonne */

.row > .col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.row > .col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row > .col-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.row > .col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row > .col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row > .col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.row > .col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row > .col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row > .col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row > .col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row > .col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row > .col-12 {
    flex-basis: 100%;
    max-width: 100%;
}




/* Offset */

.offset-1 {
    margin-left: calc(100% / 12);
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}


.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}

/* Nested */

.row > [class^='col'] [class^='col'] {
    background-color: #00E164;
}

