/* Generics */

body {
    font-family: sans-serif;
    padding: 0;
    color: white
}

.row {
    border: 1px dashed black;
}

.row > [class^='col'] {
    min-height: 40px;
    background-color: #006CFA;
    border: 1px solid yellow;
}