/* Generics */

body {
    font-family: sans-serif;
    padding: 0;
    color: white;
    font-size: 12px;
}

.row {
    /* border: 1px dashed black; */
}

.row > [class^='col'] {
    background-color: #006CFA;
    border: 1px solid white;

    text-align: center;
    padding: 10px;
}